# MSVS project files
*.vcxproj
*.vcxproj.filters
*.sln

# CMAKE intermediary files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Windows OS files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Mac OS files
.DS_Store
.AppleDouble
.LSOverride

# Executables
*.exe
*.out
*.app
